<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LEER QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <!-- Logo superior -->
    <img src="assets/icon/logoduocuc.png" alt="DuocUC" class="logo" />
    <h1>Leer QR</h1>
    <img src="assets/icon/leer-qr.png" alt="Registr APP" class="logo" />
  </div>

  <!-- Contenedor para el lector QR -->
  <div id="reader" class="qr-reader"></div>

  <!-- Mostrar texto escaneado -->
  <div id="scanText" class="ion-text-center">
    <p *ngIf="scannedText">
      <strong>Código Escaneado:</strong> {{ scannedText }}
    </p>
  </div>

  <!-- Botones -->
  <div class="button-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" (click)="ingresarCamara()">
            INGRESAR A CÁMARA
            <ion-icon slot="end" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" color="medium" (click)="back()">
            BACK
            <ion-icon slot="end" name="arrow-back-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" color="primary" (click)="loginEstudiante()">
            HOME
            <ion-icon slot="end" name="home"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
